{% extends "layout.html" %}

{% block content %}

<h1>AI ART & STORY</h1>
<div class="suggestions-container">
    <a href="/quick_start" target="_blank" class="suggestions-button">
        Click for Quick Start Guide
    </a>
</div>
<!-- <input type="file" id="audioFile" accept=".mp3, .wav"> -->
<!-- <input type="number" id="threshold" placeholder="Threshold (0-100)" min="0" max="100" value="70"> -->

<!-- <button onclick="processAudioNormal()">Process Audio OG</button> -->
<!-- <button onclick="playAudio()">Play</button> -->
<!-- <button onclick="clearBeats()" id="clearButton">Clear Beats</button> -->
<!-- <button onclick="showSignificantPoints()" id="findIdealIntervals">Find Ideal Intervals</button> -->
<!-- <button id="deleteButton">Delete Selected Label</button> -->

</br>
<div id="headers" style="display: flex; flex-wrap: wrap; gap: 10px;">
    <input type="file" id="audioFile" accept=".m4a, .mp3, .wav">
    <button id="addNewInterval" style="display: none;" onclick="addNewInterval()">Add Interval</button>
    <button onclick="delete_intervals()" style="display: none;" id="deleteButton">Delete Intervals</button>
    <button id="next-transition" style="display: none; background-color: rgb(230, 147, 147);"
        onclick="show_transitions()">Next</button>
    <button id="add-transitions-button" style="display: none;" onclick="addTransitionRegions()">Add Transition</button>
    <button id="deleteTransitionButton" style="display: none;" onclick="delete_transitions()">Delete Transition</button>
    <button id="defaultTransitionButton" style="display: none;" onclick="addDefaultTransitions()">Default
        Transitions</button>
    <!-- <button id="finalize-timestamps" style="display: none;" onclick="makeTimestamp(false)">Finalize Time Stamps</button> -->
    <button id="finalize-timestamps" style="display: none;"
        onclick="show_default_boxes(); show_brainstorming();">Finalize Time Stamps</button>
</div>

<div id="waveform">
    <div id="loadingIndicator" style="display: none;">
        <img width="auto" height="200" src="./static/loading.gif" alt="Loading..." />
    </div>
</div>
<button id="playPauseButton" style="display: none; size: 25px">▶</button>
<!-- <div id="slider" style="display: none;">
    <label for="zoomSlider">Zoom Level:</label>
    <input type="range" id="zoomSlider" min="50" max="400" value="50">
</div> -->
<div id="zoomControl" style="display: none;">
    <label for="zoomLevel" style="display: inline-block;">Zoom Level:</label>
    <button id="zoomOut" style="display: inline-block;">-</button>
    <span id="zoomLevel" style="display: inline-block;">0</span>
    <button id="zoomIn" style="display: inline-block;">+</button>
</div>



<!-- <div id="beatContainer">
    <div id="playhead" style="position: absolute; height: 100%; width: 8px; background-color: blue; left: 0px; z-index: 9999"></div>
    <canvas id="waveformCanvas"></canvas>
</div>

<audio id="audioPlayer" controls hidden></audio> -->

<div id="outputContainer"></div>
<div id="timestampsContainer"></div>

<!-- <div id="vibeBox" style="display: none;" >
    <label for="vibeInput">Vibe: </label>
    <input type="text" id="vibeInput" placeholder="Enter vibe (e.g., calm)">
</div>
<div id="colorBox" style="display: none;" >
    <label for="colorInput">Color:</label>
    <input type="text" id="colorInput" placeholder="Enter color (e.g., pale blue)">
</div>
<div id="imageryBox" style="display: none;">
    <label for="imageryInput">Imagery:</label>
    <input type="text" id="imageryInput"  placeholder="Enter imagery (e.g., calm flowing waves)">
</div>

<div id="textureBox" style="display: none;" >
    <label for="textureInput">Texture:</label>
    <input type="text" id="textureInput"placeholder="Enter texture of imagery (e.g., ink art on calligraphy paper)"> -->
<!-- </div> -->
<div style="display: flex; flex-direction: column; width: 100%;">
    <button id="dropdownToggle" style="margin-bottom: 10px; display: none;">Hide Details ▲</button>
    <div style="display: flex;">
        <div id="detailsBox" style="display: none; border: 1px solid #ddd; padding: 30px; width: 350px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
            <h3 style="margin-bottom: 10px;">Input Details</h3>
    
            <!-- Vibe Input -->
            <div id="vibeBox" style="margin-bottom: 10px; display: none;">
                <label for="vibeInput">Vibe: </label>
                <input type="text" id="vibeInput" placeholder="Enter vibe (e.g., calm)" list="vibeOptions">
                <datalist id="vibeOptions">
                    <option value="calm">
                    <option value="epic">
                    <option value="aggressive">
                    <option value="chill">
                    <option value="dark">
                    <option value="energetic">
                    <option value="ethereal">
                    <option value="happy">
                    <option value="romantic">
                    <option value="sad">
                    <option value="scary">
                    <option value="sexy">
                    <option value="uplifting">
                </datalist>
            </div>
            <hr>
            <!-- Color Input -->
            <div id="colorBox" style="margin-bottom: 10px; display: none;">
                <label for="colorInput">Color:</label>
                <input type="text" id="colorInput" placeholder="Enter color (e.g., sky blue)" list="colorOptions">
                <br>
                <button id="colorPickerButton">🎨</button>
    
                <input type="color" id="colorPicker" style="display: none; align-items: center;">
    
                <datalist id="colorOptions">
                    <option value="black/white">
                    <option value="myriad of color">
                    <option value="sky blue (#00BFFF)">
                    <option value="fiery red (#db0804)">
                    <option value="cherry blossom pink (#FFB7C5)">
                    <option value="amber (#FFBF00)">
                </datalist>
            </div>
            <hr>
            <!-- Imagery Input -->
            <div id="imageryBox" style="margin-bottom: 10px; display: none;">
                <label for="imageryInput">Imagery:</label>
                <input type="text" id="imageryInput" placeholder="Enter imagery (e.g., flowing waves)" list="imageryOptions">
                <br>
                <a href="https://scientific-chili-aec.notion.site/13e34a2bba7580b0803ded971b20a0a7?pvs=4" target="_blank"
                    style="margin-left: 10px;">See imagery examples</a>
                <datalist id="imageryOptions">
                    <option value="blossoming flower">
                    <option value="chaotic intertwining lines">
                    <option value="flowing waves">
                    <option value="starry night">
                    <option value="curvilinear intertwined circles">
                    <option value="whirling lines">
                    <option value="vibrant kaleidoscope of colors">
                    <option value="interstellar light trails">
                    <option value="abstract fractal patterns">
                    <option value="dissolving geometric shards">
                    <option value="diffused cosmic mists">
                    <option value="translucent ripple effects">
                </datalist>
            </div>
            <hr>
            <!-- Texture Input -->
            <div id="textureBox" style="margin-bottom: 10px; display: none;">
                <label for="textureInput">Texture:</label>
                <input type="text" id="textureInput" placeholder="Enter texture (e.g., painting)" list="textureOptions">
                <br>
                <a href="https://scientific-chili-aec.notion.site/Texture-Samples-13e34a2bba7580489108f775af821dd0?pvs=4"
                    target="_blank" style="margin-left: 10px;">See texture examples</a>
                <datalist id="textureOptions">
                    <option value="painting">
                    <option value="calligraphy brush ink stroke">
                    <option value="pastel watercolor on canvas">
                    <option value="charcoal drawing">
                    <option value="pencil drawing">
                    <option value="impasto palette knife painting">
                    <option value="mosaic">
                    <option value="jagged/irregular">
                    <option value="rubbed graphite on paper">
                    <option value="digital glitch">
                    <option value="splattered paint">
                    <option value="graffiti">
                    <option value="ink blots">
                </datalist>
            </div>
            <hr>
            <button id="toggleMotionButton" style="display: none;" onclick="toggleMotion()">3D Motion</button>
        </div>
        <div id="image_examples" style="width: 70%; display: none; border: 1px solid #ddd; padding: 30px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
            <h3>Image Gallery</h3>
            <label for="imagery-select">Choose an Imagery:</label>
            <select id="imagery-select">
                <option value="">-- Select an Imagery --</option>
                <option value="chaotic_intertwining_lines">Chaotic Intertwining Lines</option>
                <option value="flowing_waves">Flowing Waves</option>
                <option value="curvilinear_intertwined_circles">Curvilinear Intertwined Circles</option>
                <option value="whirling_lines">Whirling Lines</option>
                <option value="interstellar_light_trails">Interstellar Light Trails</option>
                <option value="abstract_fractal_patterns">Abstract Fractal Patterns</option>
                <option value="dissolving_geometric_shards">Dissolving Geometric Shards</option>
                <option value="translucent_ripple_effects">Translucent Ripple Effects</option>
            </select>
    
            <div class="image-container" id="image-container"></div>
        </div>
    </div>
</div>

</br>
<div class="container" id="brainstormingBox">
    <div class="row">
        <div class="col">
            <h3 style="margin-bottom: 10px;">Initial Image Brainstorming</h3>
        </div>
        <div class="col">
            <h3 style="margin-bottom: 10px;">Initial Image</h3>
        </div>
    </div>
</div>


<!-- <button onclick="fillDefaults()">Fill with Defaults</button> -->
<button id="fill-defaults" style="display: none;" onclick="fillDefaultsTemp()">Fill With Defaults</button>


<div class="form-container" id="trash"></div>
<!-- <button id="delete-section">Delete Sections</button> -->

<!-- Dropdown Button -->
<!-- <button id="add-transition" onclick="makeTimestamp(true)">Add Transitions</button> -->
<!-- <button id="finalizeTransitionButton">Done Transition</button> -->


<!-- <button id="fillTransitionsDefaults" onclick="fillTransitionDefaults()">Fill Transitions Defaults</button> -->

<!-- <button id="default-trans-btn" onclick="addDefaultTransitions()">Default Transition Suggestion</button> -->

<!-- Dropdown Container -->
<!-- <div id="transitionsContainer"></div> -->
</br>

<!-- <h4>Select your initial Image</h4> -->
<!-- <form id="uploadImage">
    <input type="file" id="imageInput" name="image" accept="image/*" required>
    <button type="submit">Upload</button>
</form> -->
<!-- <button id="submitSelectedImage">Submit Selected Image</button> -->

<button id="process-table" style="display: none;" onclick="processTable()">Create Video</button>
<div id="processing" style="display: none; color: red;">
    PROCESSING
</div>
<!-- Add a condition later so that this only appears after everything is filled out -->
<div id="processedDataContainer"></div>

<!-- <script src="https://cdn.jsdelivr.net/npm/wavesurfer.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/6.4.0/wavesurfer.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/6.4.0/plugin/wavesurfer.regions.min.js"></script>

<script>
    $(document).ready(function () {
        console.log("Document is ready!"); // Check if this logs to ensure jQuery is working

        let selectedImagePath = null;

        // Handle selection of predefined images
        $('.selectable-image').on('click', function () {
            console.log("Image clicked!"); // Confirm click event

            // Remove the 'selected' class from any previously selected image
            $('.selectable-image').removeClass('selected');

            // Add the 'selected' class to the clicked image
            $(this).addClass('selected');

            // Store the path of the selected image
            selectedImagePath = $(this).data('path');
            console.log("Selected image path:", selectedImagePath); // Log selected path
        });

        // Handle the Submit button click
        $('#submitSelectedImage').on('click', function () {
            if (!selectedImagePath) {
                alert("Please select an image before submitting.");
                return;
            }

            // Remove the 'selected' class from all images to hide the border
            $('.selectable-image').removeClass('selected');

            // Clear the selected image path
            selectedImagePath = null;

            // Display success message
            $('#predefinedImages').after("<p>Initial image selected successfully!</p>");
        });
    });
</script>

{% endblock %}